@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scrollbar-gutter: auto;
}



/* Comienza NavSection */

.nav-bar{
  width: 100%;
  height: 70px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:white;
  overflow: hidden; 
  box-shadow: 0.5px 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.2);
  
}

.logo-nav{
  padding: 40px;
}

.logo-nav p{
  font-weight: 700;
  font-size: larger;
  color: #fd9b40;
}


.nav-bar ul{
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.nav-bar ul li{
  display: inline-block;
  padding-right: 25px;

} 

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .nav-bar{
      height: 250px;
  }

  .nav-bar ul li{
      display: block;
      text-align: left;
      padding: 10px;
  }
}

.nav-bar ul li a,
.nav-bar ul li a:after,
.nav-bar ul li a:before {
transition: all .5s;
}

.nav-bar ul li a:hover {
  color: black;
}

.nav-bar ul li a{
  position: relative;
}

.nav-bar ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
  margin-bottom: -7px;
  
}

.nav-bar ul li a:hover::after{
  width: 100%;
}

.nav-bar img{
  padding-right: 30px;
}

.cartSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.counterCartWidget{
  color: rgb(255, 115, 0);
  background-color: rgba(211, 187, 187, 0.2);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
/* Termina NavSection */

/* Comienza Start Section */

.grid-StartSection {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid-StartSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  opacity: 0.7;
  z-index: -1;
}

.StartTextSection {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  color: #fff;
  padding: 90px; /* Ajuste del padding para ser más responsivo */
  margin: 0 auto;
  height: auto; /* Ajuste de altura para que sea automática */
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.StartTextSection span{
  color: #fd9b40;
}


.title{
  padding-top: 20px;
  text-align: center;
  font-size: 3em; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  margin-bottom: 20px;
}

.sub-title{
  padding: 30px 10px 0px 10px;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  margin-bottom: 30px;
  
}

.Startbuttons{
  padding-top: 80px;
  text-align: center;
}

.Startbuttons button{
  font-size: 1.2em; 
  padding: 10px 20px; 
  margin: 0 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;   
}

.Startbuttons button a{
  text-decoration: none;
  color: #fff;
}

.More{
  padding: 10px 54px;
  background-color: #FFF;
  color: black;
}

.Start {
  padding: 10px 40px;
  background-color:#fd9b40;
  color: white;
}


/* Termina Start Section */

/* Comienza ShopSection  */

/* Comienza First-products*/

.Shop-Section{
  background-color: #f5f4f4d0;
  padding-bottom: 0px;
}

.title-Shop{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0px 90px 0px;
}

.first-shop-section{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto 20px auto; 
  border-bottom: 1px solid rgb(224, 224, 224);
}

.first-shop-section p{
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}

.grid-Products{
  display: grid;
  grid-template-areas: 
  "Product1 Product2 Product3 Product4";
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 500px;
  justify-content: center;
  align-content: center;
  gap: 90px;
  padding-bottom: 100px;
}

.Product-1{
  grid-area: Product1;
}

.Product-2{
  grid-area: Product2;
}

.Product-3{
  grid-area: Product3;
}

.Product-4{
  grid-area: Product4;
}

.animate__zoomIn{
  --animate-duration: 1.3s;
}

/* Media Queries */
@media (max-width: 1536px) {
  .grid-Products{
      grid-template-areas: 
      "Product1 Product2"
      "Product3 Product4";
      grid-template-columns: 350px 350px;
      grid-template-rows: 500px 500px;
      gap: 80px;
      margin: 0 10px;
  }

  .first-shop-section{
      width: 80%;
  }
}

@media (max-width: 1280px) {
  .grid-Products{
      gap: 50px;
  }

}

@media (max-width: 1024px) {
  .grid-Products{
      gap: 15px;
  }

  .first-shop-section{
      width: 80%;
  }
}

@media (max-width: 980px) {
  .grid-Products{
      grid-template-areas: 
      "Product1"
      "Product2" 
      "Product3" 
      "Product4";
      grid-template-columns: 350px;
      grid-template-rows: repeat(4, 500px);
      gap: 40px;
      margin: 0 20px;
  }

  .first-shop-section{
      width: 70%;
  }
}

@media (max-width: 768px) {
  .first-shop-section{
      margin-left: auto;
      margin-right: auto;
      width: 70%;  
  }
}

@media (max-width: 640px) {
  .first-shop-section{
      margin-left: auto;
      width: 74%;  
  }
}


/* Termina First-products*/


.Products{
  display: inline-block;
  align-items: center;
  height: 540px;
  border-radius: 10px;
  background-color: #fcf8f8;
  border: 1px solid rgb(221, 225, 232);
  overflow: hidden;
}

.Products:hover{
  transform: scale(1.05);
  transition: 2s all;
  box-shadow: 2px 2px 2px 2px rgba(241, 238, 238, 0.911);
}

.Products img{
  width: 100%;
  height: 34%;
  border-radius: 10px 10px 0px 0px;
}

.Product-text{
  padding-left: 20px;
}

.Products .title-card{
  font-weight: 900;
  font-size: large;
  padding-top: 40px;
}

.Products .subtitle-card{
  font-size: large;
  font-weight: 300;
  padding-top: 15px;
  

}

.Products .subtitle-card strong{
  font-weight: 500;
}

.Products .subtitle-card img{
  width: 16px;
  padding-top: 20px;
}

.Products .subtitle-card span{
  font-size: 15px;
  padding-left: 10px;
}

.cantProducts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  flex-direction: row;
  border: .5px solid rgb(126, 123, 123);
  margin-top: 35px;


  button{
    width: 60px;
    height: 30px;
  }
}


.footer-product{
  display: inline-flex;
  width: 100%;
  border-top: 1px solid rgb(226, 221, 221);
  justify-content: space-between;
  margin-top: 10px;
}

.footer-text{
  padding: 15px;
}

.footer-text .first{
  font-size: 13px;
  padding-bottom: 4px;
}

.footer-text .second span{
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 4px;
}

.footer-text .third{
  font-size: 13px;
}

.Products .button-section{
  height: 100%;
  padding: 10px;
}

.Products .Buy-Button{
  width: 90%;
  height: 40px;
  border-radius: 7px; 
  background-color: #f07d11;
  border: none;
  color: rgb(0, 0, 0);
  
}

.Buy-Button:hover{
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: white;
  border: 1px solid #eca058;
  color: #f19e4f;
}
